name: Run tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Run unit tests
      run: make test
      
    - name: Run acceptance tests
      run: |
        make docker-start
        TESTARGS=-count=1 make testacc-local
        make docker-stop
